* {
    box-sizing: border-box;
    margin: 0;
}
body {
  background: #cffafe;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90vw;
  margin: 5rem auto;
  background: white;
  border-radius: 0.25rem;
  padding: 2.5rem;
  max-width: 800px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  margin-bottom: 3rem;
  color: #334155;
}

.question {
  padding: 1rem 1.5rem;
  border: 1px solid  #e2e8f0;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.question p {
  color: #64748b;
  line-height: 2;
  margin-top: 1rem;
}

.question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.question h5 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #334155;
}
.question-btn {
  background: transparent;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  background: #164e63;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
